body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#e5e5e5
}

/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.urgent{
	color:#ea5455;
	font-weight:bold;
}

.videos{

}

.maps{
	margin-top:40px;
}

ul{
	margin:0;
	padding:0;
}

li{
	float:left;
	display:inline;
	padding: 0 25px 0 25px;
}

#byu{
	color:#2d4059;
	background-color:#ffffff;
	padding-left:6px;
	padding-right:6px;
	border-radius:10px;
}

#sold_out{
	font-weight:bold;
	color:#ffffff;
}

.button_1{
	height:38px;
	background:#decdc3;
	border:none;
	padding-left:20px;
	padding-right:20px;
	color:#2d4059;
	font-weight:bold;
	transition: all .3s;
}

.button_1:hover{
	transform:scale(1.2);
	color:#ffffff;
}

h3{
	font-size:25px;
	color:#2d4059;
}

/* Header */
header{
	background:#2d4059;
	color:#e5e5e5;
	padding-top:40px;
	min-height:80px;
	border-bottom:#ea5455 6px solid;
}

header a{
	color:#e5e5e5;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
}

header #logo{
	float:left;
}

#img_logo{
	float:left;
	position:absolute;
	top:-35px;
	left:40px;
	transform:scale(.4);
}

header #logo h1{
	margin:0;
	margin-top:-5px;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#ffffff;
	font-weight:bold;
	font-size:110%;
}

header a{
	transition:all .3s;
}

header a:hover{
	color:#ffffff;
	font-weight:bolder;
	background-color:#ea5455;
	padding:5px;
	border-radius:6px;
}

/* Provo Valley Showcase */
#showcase{
	min-height:450px;
	background:url('../img/provoValley.jpg') no-repeat 0 -150px;
	text-align:center;
	color:#e5e5e5;
}

#showcase h1{
	margin-top:50px;
	font-size:70px;
	margin-bottom:25px;
	color:#ffffff;
}

#showcase p{
	font-size:25px;
	margin:10px;
}

/* Benefits */
#benefits{
	padding:30px;
	color:#ffffff;
	background:#2d4059;
	border-top:#e5e5e5 3px solid;
}

#benefits li{
	font-size:25px;
	padding: 0 0 0 0;
	width:14%;
	text-align:center;
}

/* Boxes 280px */
#boxes{
	margin-top:35px;
	margin-bottom:35px;
}

#boxes .box{
	float:left;
	width:25%;
	padding:25px;
	padding-top:35px;
	text-align:center;
	color:#2d4059;
	background-color:#ffffff;
	border-radius:20px;
	margin-left:50px;
}

#boxes .box img{
	width:80%;
	border:#2d4059 8px solid;
	transition:all .5s;
}

#boxes .box img:hover{
	transform:scale(1.1);
}

#boxes .box h3{
	font-size:28px;
	margin-top:10px;
	margin-bottom:20px;
}

#boxes .box h4{
	font-size:20px;
	margin-top:-20px;
}

#boxes .box p{
	margin-top:-10px;
}

/* Documents */
#docs{
	background:#2d4059;
	border-bottom:#e5e5e5 3px solid;
}

#docs h1{
	margin-top:30px;
	font-size:40px;
	margin-bottom:30px;
	color:#ffffff;
	text-align:center;
}

#docs form{
	float:left;
	width:25%;
	text-align:center;
	margin-bottom:40px;
}

/* Main Columns */
.main{
	margin-top:40px;
	margin-bottom:50px;
	color:#2d4059;
	text-align:center;
}

.main_column{
	float:left;
	width:55%;
	font-size:18px;
}

.main_column h1{
	font-size:30px;
	margin-top:20px;
}

.money{
	color:#ea5455;
	font-weight:bold;
	font-size:25px;
	margin:0;
}

/* Sidebar Content */
.sidebar{
	float:right;
	width:30%;
	margin-top:0;
}

aside h3{
	text-align:center;
}

/* Contact */
#contact{
	font-size:40px;
}

/* Footer */
footer{
	padding:20px;
	color:#ffffff;
	background-color:#ea5455;
	text-align:center;
}

/* Media Queries */
@media(max-width: 768px){
	header #logo,
	header nav,
	header nav li,
	#benefits,
	#benefits li,
	#boxes,
	#boxes .box,
	#docs form,
	#showcase,
	.main_column,
	.sidebar
	{
		float:none;
		text-align:center;
		width:100%;
		overflow:hidden;
	}

	#img_logo{
		/*
		position:absolute;
		top:3330px;
		left:135px;
		transform:scale(.4);
		*/
		display:none;
	}

	header nav li{
		line-height:3.0;
		display:block;
		margin-left:-25px;
	}

	header .current a, header nav li{
		font-size:20px;
	}

	header #logo{
		margin-bottom:20px;
		font-size: 20px;
	}

	header{
		padding-bottom:20px;
	}

	#showcase{
		padding-bottom:30px;
	}

	#showcase h1{
		margin-top:40px;
		margin-bottom:40px;
		line-height:1.4;
		width:100%;
	}

	#benefits{
		padding-left:0;
		padding-right:0;
	}

	#benefits li{
		display:block;
	}

	#boxes .box{
		margin-left:-30px;
		border-radius:0;
		margin-bottom: 25px;
	}

	#boxes .box p{
		width:100%;
	}

	#docs form{
		margin-bottom:30px;
	}

	footer{
		/*padding-bottom:90px;*/
	}
}
